version: '3'

######## 项目依赖的环境，启动项目之前要先启动此环境 #######
services:
  #搜集kafka业务日志、存储prometheus监控数据 - Kafka for collecting business logs and storing Prometheus monitoring data
  elasticsearch:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/elasticsearch:7.17.7
    container_name: go-zero-elasticsearch
    user: root
#    privileged: true
    environment:
      - TZ=Asia/Shanghai
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - ./data/elasticsearch/data:/usr/share/elasticsearch/data
    #restart: always
    ports:
    - 9200:9200
    - 9300:9300
    networks:
      - go-zero-net

  #查看elasticsearch数据 - Kibana to view Elasticsearch data
  kibana:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/kibana:7.17.7
    container_name: go-zero-kibana
    environment:
      - elasticsearch.hosts=http://elasticsearch:9200
      - TZ=Asia/Shanghai
    #restart: always
    networks:
      - go-zero-net
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  #消费kafka中filebeat收集的数据输出到es
  go-stash:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/go-stash:1.0-arm64
    container_name: go-zero-go-stash
    environment:
      # 时区上海 - Time zone Shanghai (Change if needed)
      TZ: Asia/Shanghai
    user: root
    #restart: always
    volumes:
      - ./deploy/go-stash/etc:/app/etc
    networks:
      - go-zero-net
    depends_on:
      - elasticsearch
      - kafka

  #收集业务数据 - Collect business data
  filebeat:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/filebeat:7.17.7
    container_name: go-zero-filebeat
    environment:
      # 时区上海 - Time zone Shanghai (Change if needed)
      TZ: Asia/Shanghai
    user: root
    #restart: always
    entrypoint: "filebeat -e -strict.perms=false"  #解决配置文件权限问题 - Solving the configuration file permissions
    volumes:
      - ./deploy/filebeat/conf/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ./logs:/usr/local/share/logs/app-logs
      - ./data/nginx/log:/usr/local/share/logs/nginx-logs
    networks:
      - go-zero-net
    depends_on:
      - kafka


  #zookeeper是kafka的依赖 - Zookeeper is the dependencies of Kafka
  zookeeper:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/zookeeper
    container_name: go-zero-zookeeper
    environment:
      # 时区上海 - Time zone Shanghai (Change if needed)
      TZ: Asia/Shanghai
    #restart: always
    ports:
      - 2181:2181
    networks:
      - go-zero-net

  #消息队列 - Message queue
  kafka:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/kafka
    container_name: go-zero-kafka
    ports:
      - 9092:9092
    environment:
      - KAFKA_ADVERTISED_HOST_NAME=kafka
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
      - TZ=Asia/Shanghai
    #restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - go-zero-net
    depends_on:
      - zookeeper

  mysql:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/mysql-server:8.0.28
    container_name: go-zero-mysql
    environment:
      # 时区上海 - Time zone Shanghai (Change if needed)
      TZ: Asia/Shanghai
      # root 密码 - root password
      MYSQL_ROOT_PASSWORD: PXDN93VRKUm8TeE7
    ports:
      - 33069:3306
    volumes:
      # 数据挂载 - Data mounting
      - ./data/mysql/data:/var/lib/mysql
      # 日志
    command:
      # 将mysql8.0默认密码策略 修改为 原先 策略 (mysql8.0对其默认策略做了更改 会导致密码无法匹配) 
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --lower_case_table_names=1
    privileged: true
    #restart: always
    networks:
      - go-zero-net

  #redis容器 - Redis container
  redis:
    image: registry.cn-hangzhou.aliyuncs.com/u_ta_other/redis:6.2.5
    container_name: go-zero-redis
    ports:
      - 36379:6379
    environment:
      # 时区上海 - Time zone Shanghai (Change if needed)
      TZ: Asia/Shanghai
    volumes:
      # 数据文件 - data files
      - ./data/redis/data:/data:rw
    command: "redis-server --requirepass G62m50oigInC30sf  --appendonly yes"
    privileged: true
    #restart: always
    networks:
      - go-zero-net

networks:
  go-zero-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.32.0.0/16

